.bx-timer-semicolon-off .bx-timer-semicolon {visibility: hidden}

/* Tooltip */
.bx-panel-tooltip
{
    z-index:2210 !important;
    overflow: hidden !important;
    position:absolute !important;

    letter-spacing:normal !important;
    list-style:none !important;
    text-align: left !important;
    text-indent:0 !important;
    text-transform: none !important;
    visibility:visible !important;
    white-space: normal !important;
    word-spacing:normal !important;
    vertical-align:baseline !important;
    margin:0 !important;
    padding:0 !important;
    float: none !important;
    text-decoration: none !important;

	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;

	-webkit-box-shadow: 0 12px 10px rgba(0,0,0,.25) !important;
	-moz-box-shadow: 0 12px 10px rgba(0,0,0,.25) !important;
	box-shadow: 0 12px 10px rgba(0,0,0,.25) !important;

	border: 1px solid;
	border-color: #a2a6ad #989ca1 #8e9398;

	background: #d0dbdd;
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTllYSIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNmQyZDUiIHN0b3Atb3BhY2l0eT0iMC45NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)*/
	background: -webkit-linear-gradient(top, rgba(227,233,234,.95), rgba(198,210,213,.95));
	background: -moz-linear-gradient(top, rgba(227,233,234,.95), rgba(198,210,213,.95));
	background: -o-linear-gradient(top, rgba(227,233,234,.95), rgba(198,210,213,.95));
	background: -ms-linear-gradient(top, rgba(227,233,234,.95), rgba(198,210,213,.95));
	background: linear-gradient(to bottom, rgba(227,233,234,.95), rgba(198,210,213,.95));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e3e9ea', endColorstr='#f2c6d2d5',GradientType=0);
}

.bx-panel-tooltip div { display: block !important; }

.bx-panel-tooltip .bx-panel-tooltip-top-border, .bx-panel-tooltip .bx-panel-tooltip-bottom-border
{
	display: none !important;
}

.bx-panel-tooltip-content
{
    overflow: hidden !important;
    position: relative !important;
    z-index:10 !important;
    display:inline-block !important;
}

.bx-panel-tooltip-title
{
    font: normal normal bold 14px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #16191a !important;
    position:relative !important;
    padding: 7px 10px 0 10px !important;
    margin: 0 !important;
	text-shadow: 0 1px rgba(255, 255, 255, 0.66);
}

.bx-panel-tooltip-text
{
    font: normal normal normal 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #272b31 !important;
    padding: 9px 10px 10px 10px !important;
    margin: 0 !important;
    position:relative !important;
	text-shadow: 0 1px rgba(255, 255, 255, 0.25);
}

.bx-panel-tooltip-close
{
	position:absolute !important;
    height:20px !important;
    background: scroll transparent url(../images/panel/top-panel-sprite-2.png) no-repeat -9px -1881px !important;
    width:25px !important;
    top: 0 !important;
    right: 0 !important;
	z-index:5 !important;
	display:block !important;
}

.bx-panel-tooltip-close:hover { background: scroll transparent url(../images/panel/top-panel-sprite-2.png) no-repeat -32px -1881px !important; }

.bx-panel-tooltip-text a { font: normal normal normal 12px/normal "Helvetica Neue", Helvetica, Arial, sans-serif !important;}
.bx-panel-tooltip-text a, .bx-panel-tooltip-text a:hover { color: #272b31 !important; text-decoration: underline !important;}

.bx-clear { clear: both }

footer {
    background: url(../images/footer_bg.png)no-repeat;
    background-size: cover;
    padding: 30px 0;
}

.footer_adds .logo2 {
    display: none;
}

footer .logo {
    /*    flex-direction: column;*/
}

footer .logo img {
    width: 104px; height: 90px; }

footer .logo a {
    text-align: center;
}

footer .logo p {
    color: #fff;
    line-height: 22px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

footer .th_item {
    width: 25%;
    padding: 10px 5px;
}

footer p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

footer .th_item:nth-child(2) {
    width: 18%;
}

.list_item {
    padding-bottom: 20px;
}

.list_item p {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 6px 10px;
}

.list_item a {
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    padding-left: 20px;
    position: relative;
}

footer .list_item p a {
    font-size: 15px;
}

.list_item a:before {
    content: '';
    width: 13px;
    height: 10px;
    display: block;
    position: absolute;
    top: 8px;
    left: 0px;
    background: url(../images/icons.png) no-repeat center;
    background-position: -304px -3px;
}

footer .list_item p a:before {
    content: none;
}

.list_item a:hover {
    color: #cacaca;
}

.list_item a:hover::before {
    top: 11px;
    background-position: -295px -16px;
}

.alternative_version, .old_version {
    display: block;
    position: relative;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    padding-left: 30px;
}

a.mobile-href {
    color: white;
}

a.mobile-href:hover {
    color: #cacaca;
}

.alternative_version:before, .old_version:before {
    content: '';
    width: 30px;
    height: 20px;
    display: block;
    position: absolute;
    top: 4px;
    left: 0px;
    background: url(../images/icons.png) no-repeat;
    background-position: -11px -70px;
}

.old_version:before {
    background-position: -60px -70px;
}

footer .selectBox-dropdown {
    max-width: 100%;
    height: 0px;
    margin-bottom: 60px;
}

footer .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: #ff7f18;
    height: 40px;
}

.social {
    margin-top: 20px;
}

.social_all {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.journal .social_all {
    justify-content: flex-start;
}

.journal .social_all a {
    margin-right: 10px;
}

.social_all a {
    width: 30px;
    height: 20px;
    background: url(../images/icons.png) no-repeat;
}

.social_all .vk {
    background-position: -92px -27px;
}

.social_all .vk:hover {
    background-position: -58px -27px;
}

.social_all .fb {
    width: 11px;
    background-position: -142px -26px;
}

.social_all .fb:hover {
    background-position: -126px -26px;
}

.social_all .inst {
    width: 28px;
    background-position: -162px -26px
}

.social_all .inst:hover {
    background-position: -187px -26px;
}

.social_all .tw {
    height: 22px;
    background-position: -213px -25px;
}

.social_all .tw:hover {
    background-position: -240px -25px;
}

.social_all .yt {
    width: 26px;
    background-position: -270px -26px;
}

.social_all .yt:hover {
    background-position: -295px -26px;
}

.download_all {
    display: flex; justify-content: flex-start; align-items: center; }

.download {
    margin-top: 20px;
}

.download_all a {
    width: 20px;
    height: 25px;
    margin: 10px; background: url(../images/icons.png) no-repeat;
}

.download_all .appstore {
    background-position: -139px -69px;
}

.download_all .appstore:hover {
    background-position: -113px -70px;
}

.download_all .playmarket {
    background-position: -185px -68px;
}

.download_all .playmarket:hover {
    background-position: -162px -68px;
}

.footer_adds {
    display: flex;
    justify-content: space-between;
}

.footer_adds p {
    padding-left: 21%;
}

footer .about_site {
    min-width: 120px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
}

footer .about_site:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    right: -15px;
    transform: rotate(90deg);
    background: url(../images/icons.png)no-repeat;
    background-position: -305px -4px;
}


