.c-tabs-nav__link span {
    display: none;
}
.c-tab {
    display: none;
}
.c-tab.is-active {
    display: block;
}
.c-tabs.no-js .c-tabs-nav {
    display: none;
}
.c-tabs.no-js .c-tab {
    display: block;
}
@media only screen and (max-width:900px) {
        .c-tabs-nav {
        margin: 0 auto;
        width: 95%;
    }
}
@media only screen and (max-width:767px){
    .c-tabs-nav{
        margin:0 auto;
        width:95%;
    }
    .c-tabs-nav a{
        margin:0 auto;
        display: block;
    }
}
@media all and (min-width:200px) {
    .c-tabs-nav__link span {
        display: block;
    }
}
